# 제어문

# 1. 조건문

In [11]:
# 미성년자 판단하기(만 19세이상)
# 1. 나이를 age라는 변수로 만들고 age가 19 미만이면 "미성년자입니다"라고 출력해주세요.
age = 16
if age < 19 :
    print("미성년자입니다")

미성년자입니다

In [9]:
# 2. 나이를 age라는 변수로 만들고 age가 19 미만이면 "미성년자입니다"라고 출력하고, 이상이면 "성인입니다"라고 출력해주세요.
age = 59
if age < 19 :
    print("미성년자입니다")
else :
    print("성인입니다")

성인입니다

In [13]:
# 등급에 따라 메시지 출력하기
# A-Perfect, B-Excellent, C-Good, 그 외 노력하세요 라고 출력해주세요
grade = "C"
if grade == "A" :
    print("Perfect")
elif grade == "B" :
    print("Excellent")
elif grade == "C" :
    print("Good")
else :
    print("노력하세요")

Good

## 1) 연산자

In [ ]:
# 조건식만 적어보기

문제. 나이가 10세 이상이고, 키가 120cm 이상일 때만 놀이기구 탑승

* 탑승 가능하면 "통과" 아니면 "탑승 불가"라고 출력하기

In [ ]:
age = 14
height = 119

# 조건1 : 나이 >= 10
# 조건2 : 키 >= 120
# 조건식 : 조건1 and 조건2

if age >= 10 & height >= 120 :
    print("통과")
else :
    print("탑승 불가")

탑승 불가

문제. 10만원 이상 구매하거나 "Gold" 등급이면 10% 할인

* 할인이 가능하면 "10% 할인 가능" 아니면 "10% 할인 불가" 출력

In [ ]:
price = 80000
level = "Gold"

# 조건1 : 가격 >= 100000
# 조건2 : 등급 == "Gold"
# 조건식 : 조건1 or 조건2

if (price >= 100000) | (level == "Gold") :
    print("10% 할인 가능")
else :
    print("10% 할인 불가")

10% 할인 불가

## 2) 활용

In [ ]:
# 지갑 안에 운전면허증(license)이 있다면 통과이고, 없으면 벌금이다.
# 만약 벌금을 납부하게 되면 지갑에 카드(credit card)가 있으면 카드결제, 아니면 현금 납부이다.
# 벌금을 납부하게 된다면 "벌금 대상자"를 출력하고 아니면 통과를 출력한다
# 그리고 벌금을 납부하게 된다면 '카드납부' 아니면 "현금납부"를 출력한다.
# 이 사람은 어떻게 해야 하는가?
wallet = ["credit card", "trash"]

if "license" in wallet :
    print("통과")
else :
    print("벌금 대상자")

    if "credit card" in wallet :
        print("카드 납부")
    else :
        print("현금 납부")

벌금 대상자
카드 납부

## 4) 예제

문제 1. 온도가 15도에서 25도 사이인지 확인하는 예시:

In [29]:
temp = 17

if temp > 15 and temp < 25 :
    print("True")
else :
    print("False")

True

문제 2. 학생의 성적에 따른 장학금 여부 결정

* GPA가 4.0 이상이면 100% 장학금을 받습니다.
* GPA가 3.5 이상이면 50% 장학금을 받습니다.
* GPA가 3.0 이상이면 30% 장학금을 받습니다.
* 그 외에는 장학금을 받을 수 없습니다.

In [36]:
gpa = 3.7

if gpa >= 4.0 :
    print("100% 장학금")
elif gpa >= 3.5 :
    print("50% 장학금")
elif gpa >= 3.0 :
    print("30% 장학금")
else :
    print("장학금을 받을 수 없습니다.")

50% 장학금

문제 3. 특정 단어가 문장에서 없는지 확인

* search_word가 text에 포함되지 않으면 해당 단어가 문장에 없다는 메시지를 출력합니다.

In [37]:
text = "데이터 분석은 흥미롭고 중요한 분야입니다."
search_word = "AI"

if search_word in text :
    print("OK")
else :
    print(search_word + "가 문장에 없습니다.")

if search_word not in text :
    print(search_word + "가 문장에 없습니다.")
else :
    print("OK")

AI가 문장에 없습니다.
AI가 문장에 없습니다.

# 2. 반복문

## 1) While 문

<img src='https://www.dropbox.com/scl/fi/r0815e20gb2hv6a599i00/_-while.png?rlkey=dexzbwy3xu4phnzvo65cb6hbq&st=ykavuhx3&dl=1' width=30%>

### (1) 표현

In [39]:
count = 0
while count < 3 :
    print(count)
    count += 1

0
1
2

In [ ]:
# 작동 흐름
# count = 0 -> 조건식 count < 3 True -> print(0) -> count = 1
# count = 1 -> 조건식 count < 3 True -> print(1) -> count = 2
# count = 2 -> 조건식 count < 3 True -> print(2) -> count = 3
# count = 3 -> 조건식 count < 3 False

### (2) break

In [41]:
count = 0
while True :
    count += 1
    print(count)

    if count > 3 :
        break

1
2
3
4

In [ ]:
# 작동 흐름
# count = 0 -> count = 1 -> print(1) -> 조건식 count > 3 False
# count = 1 -> count = 2 -> print(2) -> 조건식 count > 3 False
# count = 2 -> count = 3 -> print(3) -> 조건식 count > 3 False
# count = 3 -> count = 4 -> print(4) -> 조건식 count > 3 True -> break

In [42]:
count = 0
while True :
    count += 1

    if count > 3 :
        break
    
    print(count)

1
2
3

In [ ]:
# 작동 흐름
# count = 0 -> count = 1 -> 조건식 count > 3 False -> print(1) 
# count = 1 -> count = 2 -> 조건식 count > 3 False -> print(2) 
# count = 2 -> count = 3 -> 조건식 count > 3 False -> print(3) 
# count = 3 -> count = 4 -> 조건식 count > 3 True -> break

### (2) continue

In [ ]:
count = 0
while count < 3 :
    count += 1

    if count % 2 != 0 :
        continue

    print(count)

In [ ]:
# 작동 흐름
# count = 0 -> 반복조건식 count < 3 True -> count = 1 -> 조건식 홀수인가 True
# count = 1 -> 반복조건식 count < 3 True -> count = 2 -> 조건식 홀수인가 False -> print(2)
# count = 2 -> 반복조건식 count < 3 True -> count = 3 -> 조건식 홀수인가 True
# count = 3 -> 반복조건식 count < 4 False

## 2) For 문

<img src='https://www.dropbox.com/scl/fi/eezsh68wobwm87rhh7209/_-for.png?rlkey=w1mhrm40cg413ajdajix0bb9m&st=ptyurj6a&dl=1' width='30%'>

### (1) 표현

In [ ]:
num_list = [1, 2, 3]
for num in num_list :
    print(num)

### (2) 관련 주요 함수

In [48]:
# range(n) : 0부터 n-1까지 1씩 증가하는 연속적인 범위를 생성해줌
# range()를 이용해서 다음 출력이 나오도록 코딩해주세요
# 출력 결과
# 1
# 2
# 3
# 4
# 5

# 1. range를 이용해서 [1, 2, 3, 4, 5]를 만들어보기
# 2. 반복문 만들기
num_list = list(range(1,6))
print(num_list)

for num in num_list :
    print(num)

[1, 2, 3, 4, 5]
1
2
3
4
5

In [47]:
for num in range(1,6) :
    print(num)

1
2
3
4
5

In [49]:
for num in range(5) :
    print(num+1)

1
2
3
4
5

In [51]:
students = ["홍길동", "김철수", "한유리", "정성우"]

for student in students :
    print(student)

홍길동
김철수
한유리
정성우

In [57]:
# 위치 이름
count = len(students)
# print(count)

for i in range(count) :
    print(i, students[i])

0 홍길동
1 김철수
2 한유리
3 정성우

In [59]:
for i, student in enumerate(students) :
    print(i, student)

0 홍길동
1 김철수
2 한유리
3 정성우

In [75]:
# # 미션
score_data = {"홍길동":68, "최수연": 44, "김철수": 90}

# # 출력 결과
# 홍길동
# 최수연
# 김철수
for student in score_data.keys() :
    print(student)

# for student in score_data.keys() :
#     print(student)

# # 출력 결과
# 68
# 44
# 90
for score in score_data.values() :
    print(score)

# # 출력 결과
# 홍길동 68점
# 최수연 44점
# 김철수 90점
for student, score in score_data.items() :
    # print(student, score, "점")
    print(f"{student} {score}점")

홍길동
최수연
김철수
68
44
90
홍길동 68점
최수연 44점
김철수 90점

In [ ]:
names= ["홍길동", "최수연", "김철수"]
scores = [68, 44, 90]

# 출력 결과
# 홍길동 68점 
# 최수연 44점
# 김철수 90점
for name, score in zip(names, scores) :
    print(name, score)

홍길동 68
최수연 44
김철수 90

### (3) break/continue

#### break

In [ ]:
# 1부터 10까지 숫자를 하나씩 출력. 만약 7이 나오면 반복문 중지

# for num in range(10) :
#     num += 1
#     print(num)
#     if num == 7 :
#         break

for i in range(1, 11):
    if i == 7:
        break
    print(i)

1
2
3
4
5
6
7

In [ ]:
for i in range(1, 11):
    print(i)
    if i == 7:
        break

#### continue

In [ ]:
# 1부터 10까지 숫자 중에서 5만 빼고 출력하기
# for num in range(10) :
#     num += 1
#     if num == 5 :
#         continue
#     else :
#         print(num)
for i in range(1, 11):
    if i == 5:
        print("건너뛰기")
        continue
    print(i)

1
2
3
4
6
7
8
9
10

### (4) 활용

## 3) 예제

예제1. 학생 성적 딕셔너리

반복문을 사용해서 "홍길동님의 성적은 85점입니다" 형태로 출력하세요.

```
grades = {
    "John": 85,
    "Emily": 92,
    "Tom": 78,
    "Lucy": 88
}
```

예제2. 센서 온도 데이터

30도 이상인 데이터만 출력하세요

```
temperature_data = [22.5, 35.2, 28.4, 40.1, 25.3]
```

예제 3. 고객 주문 데이터

반복문을 사용해서 총 매출을 계산하세요.

```
orders = [
    {"customer": "Kim", "amount": 120000},
    {"customer": "Lee", "amount": 85000},
    {"customer": "Park", "amount": 99000},
]
```

예제 4. 리뷰 데이터

짜장면이 언급된 데이터만 출력하세요

```
reviews = [
    "맛있어요! 짜장면 최고예요!",
    "배달이 느렸지만 짬뽕은 맛있었어요.",
    "탕수육은 별로였지만 전체적으로 만족!",
    "짜장면이 너무 짰어요.",
]
```

## 4) List Comprehension

In [83]:
num_list = []
for i in range(1, 11) :
    print(i)
    num_list.append(i)

print(num_list)

1
2
3
4
5
6
7
8
9
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 1~10까지의 숫자 리스트를 만들고 싶다.
num_list = [i for i in range(1, 11)]
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [85]:
# 1~10까지의 숫자의 제곱을 리스트로 만들고 싶다
num_list = [i**2 for i in range(1, 11)]
print(num_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# 1~10까지의 짝수 리스트를 만들고 싶다. (if만 쓸때 -> if 를 제일 뒤에)
# i % 2 == 0
num_list = [i for i in range(1, 11) if i % 2 == 0]
print(num_list)

[2, 4, 6, 8, 10]

In [ ]:
# 1~10까지의 짝수는 "짝수", 홀수는 "홀수"라고 써진 리스트를 만들고 싶다. (else 사용 -> if/else 앞쪽에)
num_list = ["짝수" if i % 2 == 0 else "홀수" for i in range(1,11)]
print(num_list)

['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수']